{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'main:index' %}">Bosh Sahifa</a></span> <span>Hotel</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hotellar</h1>
          </div>
        </div>
      </div>
    </div>
		
		<section class="ftco-section">
      <div class="container">
        <div class="row" style="display: flex; justify-content: center;">
        	<div class="col-lg-10 sidebar order-md-last ftco-animate">
        		<div class="sidebar-wrap ftco-animate">
        			<h3 class="heading mb-4 text-center" style="padding: 40px;"><b>Shaharni Topish</b></h3>
        			<form action="">
        				<div class="fields">
		              <div class="form-group">
		                <input type="text" class="form-control" placeholder="Manzil, Shaharlar">
		              </div>
		              <div class="form-group">
		                <div class="select-wrap one-third">
	                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                    <select name="" id="" class="form-control" placeholder="Keyword search">
	                      <option value="">Lokatsiya tanlash</option>
	                      <option value="">O`zbekiston</option>
	                      <option value="">Turkiya</option>
	                      <option value="">Amerika</option>
	                      <option value="">Rossiya</option>
	                    </select>
	                  </div>
		              </div>
		              <div class="form-group">
		                <input type="text" id="checkin_date" class="form-control checkin_date" placeholder="Kundan">
		              </div>
		              <div class="form-group">
		                <input type="text" id="checkout_date" class="form-control checkout_date" placeholder="Kungacha">
		              </div>
		              <div class="form-group">
		                <input type="submit" value="Qidirish" class="btn btn-outline-warning py-3 px-5">
		              </div>
		            </div>
	            </form>
        		</div>
        	</div><!-- END-->
        	<div class="col-lg-12">
          			<div class="row">
						{% for hotel in hotels %}
							<div class="col-sm col-md-6 col-lg-4 ftco-animate">
								<div class="destination">
									<a href="" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{hotel.image.url}});">
										<div class="icon d-flex justify-content-center align-items-center">
											<span class="icon-link"></span>
										</div>
									</a>
									<div class="text p-3">
										<div class="d-flex">
											<div class="one">
												<h3><a href="">{{hotel.title}}</a></h3>
												<p class="rate">
													<i class="icon-star"></i>
													<i class="icon-star"></i>
													<i class="icon-star"></i>
													<i class="icon-star"></i>
													<i class="icon-star-o"></i>
													<span>8 Rating</span>
												</p>
											</div>
											<div class="two">
												<span class="price per-price">${{hotel.price}}<br><small>/night</small></span>
											</div>
										</div>
										<p>{{hotel.body}}</p>
										<hr>
										<p class="bottom-area d-flex">
											<span><i class="icon-map-o"></i> {{hotel.where}}</span> 
											<span class="ml-auto"><a href="#">Book Now</a></span>
										</p>
									</div>
								</div>
							</div>
						{% endfor %}
		    		</div>
          			<div class="row mt-5">
						<div class="col text-center">
							<div class="block-27">
							    <ul>
							        <li><a href="#">&lt;</a></li>
							        <li class="active"><span>1</span></li>
		                			<li><a href="#">&gt;</a></li>
		            			</ul>
		            		</div>
		        		</div>
		    		</div>
        	</div> <!-- .col-md-8 -->
        	</div>
      	</div>
    </section> <!-- .section -->
    
{% endblock %}