{% extends "base.html" %}
{% load static %}
{% block content  %}
    
    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate mb-5 pb-5 text-center text-md-left" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{banner.title}}</h1>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{banner.body}}</p>
          </div>
        </div>
      </div>
    </div>


    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-10 heading-section text-center ftco-animate">
            <h2 class="mb-4">Bizning yangi ta'til g'oyalarimizni ko'ring</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-6 ftco-animate align-items-center">
        		<a href="#" class="destination-entry img" style="background-image: url({% static 'images/destination-1.jpg' %});">
        			<div class="text text-center">
        				<h3>Sohil manzarasi</h3>
        			</div>
        		</a>
        	</div>
        	<div class="col-md-6 ftco-animate align-items-center">
        		<a href="#" class="destination-entry img" style="background-image: url({% static 'images/destination-3.jpg' %});">
        			<div class="text text-center">
        				<h3>Shahar manzaralari</h3>
        			</div>
        		</a>
        	</div>
        </div>
    	</div>
    </section>
		
	<section class="ftco-about d-md-flex">
    	<div class="one-half img" style="background-image: url({% static 'images/about.jpg' %});"></div>
    	<div class="one-half ftco-animate">
        	<div class="heading-section ftco-animate ">
        		<h2 class="mb-4">{{about.title}}</h2>
        	</div>
        	<div>
  				<p>{{about.body}}.</p>
  			</div>
    	</div>
    </section>

<!-- ============Services============ -->
    <section class="ftco-section services-section bg-light">
      	<div class="container">
        	<div class="row d-flex">
				<div class="col-md-12 text-center heading-section ftco-animate">
					<h2 class="mb-3">Servislar</h2>
				</div><br><br>
				{% for service in services %}
          			<div class="col-md-4 d-flex align-self-stretch ftco-animate">
            			<div class="media block-6 services d-block">
              				<div class="icon"><span><img style="width: 64px;" src="{{service.icon.url}}" alt=""></span></div>
              				<div class="media-body">
                				<h3 class="heading mb-3">{{service.name}}</h3>
                				<p>{{service.body}}.</p>
              				</div>
            			</div>      
          			</div>
				{% endfor %}
    	    </div>
      	</div>
    </section>
    
    <section class="ftco-section">
    	<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
          		<div class="col-md-7 heading-section text-center ftco-animate">
            		<h2 class="mb-4">Mashhur Manzillar</h2>
          		</div>
        	</div>    		
    	</div>
    	<div class="container-fluid" style="display: flex; justify-content: center;">
    		<div class="row">
				{% for place in places %}
    			<div class="col-sm col-md-6 col-lg ftco-animate">
    				<div class="destination">
    					<a href="{{place.url}}" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{place.image.url}});">
    						<div class="icon d-flex justify-content-center align-items-center">
    							<span class="icon-link"></span>
    						</div>
    					</a>
    					<div class="text p-3">
    						<div class="d-flex">
    							<div class="one">
		    						<h3><a href="#">{{place.title}}</a></h3>
		    						<p class="rate">
		    							<i class="icon-star"></i>
		    							<i class="icon-star"></i>
		    							<i class="icon-star"></i>
		    							<i class="icon-star"></i>
		    							<i class="icon-star-o"></i>
		    							<span>8 Rating</span>
		    						</p>
	    						</div>
	    						<div class="two">
	    							<span class="price">${{place.price}}</span>
    							</div>
    						</div>
    						<p>{{place.body}}</p>
    						<p class="days"><span>{{place.how_long}}</span></p>
    						<hr>
    						<p class="bottom-area d-flex">
    							<span><i class="icon-map-o"></i> {{place.where}}</span> 
    							<span class="ml-auto"><a href="#">Batafsil</a></span>
    						</p>
    					</div>
    				</div>
    			</div>
				{% endfor %}
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10">
		    		<div class="row" style="display: flex; justify-content: center;">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="{{contacts | length}}">0</strong>
		                <span>Mijozlar</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="{{places | length}}">0</strong>
		                <span>Mashhur Joylar</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="{{hotels | length}}">0</strong>
		                <span>Hotellar</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>


    <section class="ftco-section">
    	<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4"><strong>Mashhur</strong> Hotellar</h2>
          </div>
        </div>    		
    	</div>
    	<div class="container-fluid">
    		<div class="row">
				{% for hotel in hotels %}
    				<div class="col-sm col-md-6 col-lg ftco-animate">
    				<div class="destination">
    					<a href="" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{hotel.image.url}});">
    						<div class="icon d-flex justify-content-center align-items-center">
    							<span class="icon-link"></span>
    						</div>
    					</a>
    					<div class="text p-3">
    						<div class="d-flex">
    							<div class="one">
		    						<h3><a href="#">{{hotel.title}}</a></h3>
		    						<p class="rate">
		    							<i class="icon-star"></i>
		    							<i class="icon-star"></i>
		    							<i class="icon-star"></i>
		    							<i class="icon-star"></i>
		    							<i class="icon-star-o"></i>
		    							<span>8 Rating</span>
		    						</p>
	    						</div>
	    						<div class="two">
	    							<span class="price per-price">${{hotel.price}}<br><small>/night</small></span>
    							</div>
    						</div>
    						<p>{{hotel.body}}</p>
    						<hr>
    						<p class="bottom-area d-flex">
    							<span><i class="icon-map-o"></i> {{hotel.where}}</span> 
    							<span class="ml-auto"><a href="#">Book Now</a></span>
    						</p>
    					</div>
    				</div>
    				</div>
				{% endfor %}
    		</div>
    	</div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Mijozlarning fikrlari</h2>
            <p>Mijozlar bizdan har doim minnatdor.</p>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
				{% for contact in contacts %}
              		<div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="name">{{contact.name}}</p><br><br>
                    <p class="name">{{contact.body}}.</p>
                    <span class="position">Mijoz</span>
                  </div>
                </div>
              		</div>
			  	{% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2><strong>Bloglar</strong></h2>
          </div>
        </div>
        <div class="row d-flex">
			{% for blog in blogs %}
          		<div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="" class="block-20" style="background-image: url({{blog.image.url}});">
              </a>
              <div class="text">
              	<span class="tag">{{blog.title}}</span>
                <h3 class="heading mt-3"><a href="#">{{blog.body}}</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">{{blog.when}}</a></div>
                  <div><a href="#">{{blog.author}}</a></div>
                </div>
              </div>
            </div>
          		</div>
		  	{% endfor %}
        </div>
      </div>
    </section>
		
{% endblock %}